* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
 background-color: hsl(210, 46%, 95%);
 font-family: 'Manrope', sans-serif;
}
.header{
margin: 73px auto 0;
width: min(87%, 375px);
}
.illustration { 
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
 /* height: 28vh; */
}
.container {
  width: min(87%, 375px);
  margin: auto;
  background-color: white;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

h1 {
  font-size: 1rem;
width: 90%;
margin: auto;
padding: 10px 0;
text-align: left;
line-height: 1.4;
word-spacing: 2px;
}
p {
  text-align: left;
  width: 90%;
  margin: 10px auto;
  font-size: 0.8rem;
  font-weight: 400;
  opacity: 0.6;
}
footer {
 /* background-color: hsl(217, 19%, 35%);
  color: white;*/
}
.profile {
  width: min(20%, 175px);
  border-radius: 50%;
}
figure {
  display: flex;
  width: 75%;
  align-items: center;
}
figcaption {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 0.8rem;
}

.profileSection {
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center; 
  width: 100%;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
}
.shareSection {
  background-color: hsl(210, 46%, 95%);
  border-radius: 50%;
  width: 25px;
  margin: auto;
  height: 25px;
}
.socialShare {
  width: 100%;
position: absolute;
background: hsl(217, 19%, 35%);
display: grid;
grid-template-columns: 1fr 3fr 1fr;
justify-content: center;
border-radius: 0 0 10px 10px;
padding: 20px;
align-items: center;
color: white;

}
.preview {
  display: none;
}
.socialIcons {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (min-width: 980px) {
  .App {
    text-align: center;
    display: flex;
    width: 90%;
margin: auto;
}

.header {
  width: 40%;
}
.illustration {
  border-top-left-radius: 12px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 0px;
}
.container {
  width: 60%;  
  margin: 73px auto 0;  
  border-top-left-radius: 0px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 20px;
}

}

@media screen and (min-width: 1280px) {
  body {
    margin: 5% auto;
    width: 95%;
    max-width: 1240px;
  }
}