* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
 background-color: hsl(210, 46%, 95%);
 font-family: 'Manrope', sans-serif;
}

.illustration {
  margin: 40px auto 0;
  width: 90%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.container {
  width: 90%;
  margin: auto;
  background-color: white;
  padding: 10px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

h1 {
	font-size: 1rem;
	width: 90%;
  margin: auto;
  padding: 10px 0;
	text-align: left;
}
p {
  text-align: left;
  width: 90%;
  margin: 10px auto;
  font-size: 0.8rem;
  font-weight: 400;
  opacity: 0.6;
}
footer {
 /* background-color: hsl(217, 19%, 35%);
  color: white;*/
}
.profile {
  width: 20%;
  border-radius: 50%;
}
figure {
  display: flex;
  width: 75%;
}
figcaption {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 0.8rem;
}
.profileSection {
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
}
.shareSection {
  background-color: hsl(210, 46%, 95%);
  border-radius: 50%;
  width: 25px;
  margin: auto;
  height: 25px;
}