* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
 background-color: hsl(210, 46%, 95%);
 font-family: 'Manrope', sans-serif;
}
.header{
margin: 73px auto 0;
width: min(87%, 375px);
}
.illustration { 
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
 /* height: 28vh; */
}
.container {
  width: min(87%, 375px);
  margin: auto;
  background-color: white;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

h1 {
  font-size: 1rem;
width: 90%;
margin: auto;
padding: 10px 0;
text-align: left;
line-height: 1.4;
word-spacing: 2px;
}
h2 {
  font-weight: 100;
  font-size: 1rem;
  letter-spacing: 4px;
}
p {
  text-align: left;
  width: 90%;
  margin: 10px auto;
  font-size: 0.8rem;
  font-weight: 400;
  opacity: 0.6;
}
footer {
 /* background-color: hsl(217, 19%, 35%);
  color: white;*/
}
.profile {
  width: min(12%, 160px);
  border-radius: 50%;
}
figure {
  display: flex;
  width: 75%;
  align-items: center;
}
figcaption {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 0.8rem;
}

.profileSection {
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center; 
  width: 100%;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
}
.shareSection {
  background-color: hsl(210, 46%, 95%);
  border-radius: 50%;
  width: 40px;
  margin: auto;
  height: 40px;
}
img.proceed {
  /* width: 20px; */
  /* height: 20px; */
  /* display: block; */
  /* margin: auto; */
  padding: 10px;
}
.socialShare {
  width: 100%;
position: absolute;
background: hsl(217, 19%, 35%);
display: flex;
    flex-wrap: nowrap;
justify-content: center;
border-radius: 0 0 10px 10px;
padding: 20px;
align-items: center;
color: white;

}
.preview {
  display: none;
}
.socialIcons {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

@media screen and (min-width: 980px) {
  .App {
    text-align: center;
    display: flex;
    width: 70%;
    padding-top: 200px;
    margin-left: 210px;
}

.header {
  width: 36%;
  margin: 0;
}
.illustration {
  height: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 0px;
}
.container {
  width: 54%;  
  margin: 0;  
  border-top-left-radius: 0px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 20px;
}
h1 {
  font-size: 1.4rem;
  width: 81%;
  margin-top: 27px;
  margin-left: 37px;
  word-spacing: 0px;
  /* padding: 36px 0; */
}
p {
  text-align: left;
  width: 83%;
  margin: 4px auto;
  font-size: 0.9rem;
  font-weight: 400;
  opacity: 0.6;
}
figure { 
    width: 80%;    
    margin-left: 25px;
    margin-top: 11px;
}
.profileName {
margin-left: 21px;
}
.dated {
margin-left: 0px;
}
.socialShare {
  top: -87px;
  width: 275px;
  left: 285px;
  border-radius: 20px;
  padding: 14px 30px;
  justify-content: flex-end;
}
.socialShare::after {
  position: relative;
  content: "";
  width: 30px;
  height: 30px;
  top: 30px;
  transform: rotate(45deg);
  left: -105px;
  background-color: hsl(217, 19%, 35%);
  /*z-index: -1;  for a pseudo element - the z-index should be -1 */
}
.hideShare {
  display: none;
}

}

@media screen and (min-width: 1280px) {
  body {
    margin: 5% auto;
    width: 95%;
    max-width: 1240px;
  }
}